.line-three{
	color: blue;
	letter-spacing: 14px;
}
.line-two{
	/*text-transform: uppercase;*/
/*	text-transform: lowercase;*/
    text-transform: capitalize;
    color: green;
}
.first-line{
	color: red;
/*	text-decoration: underline;*/
/*  text-decoration: overline;*/
   text-decoration: line-through;

}

.second{
	background-color: red;
	height: 180px;
	width: 100px;
	/*margin:24px 24px 24px 24px;*/
}
.child{
	height: 200px;
	
}
.main-div{
	padding:24px 24px 24px 24px;
	height:400px;
	border-width:10px;
	border-color: red;
	border-style: solid;
	

    margin-bottom: 24px;
    /*margin-top: 24px;*/
   /* margin-left: 100px;*/
}
.header{
	color: red;
	font-size: 100px;
	text-align: center;
}
.para{
	font-size: 18px;
	text-align: justify;
	text-indent: 14px;
	line-height: 24px;
}